body{
    background: hsl(0, 0%, 81%);
}
.general-div{
    width: 100%;
    height: 20%;
    place-items: center;
  
    
}
.grid-general-div{
    width: 85%;
    height: 100%;
    margin: 1rem 2rem 1rem 5rem;
    /* margin-top: 7rem; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;

}
.first-div{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    height: 30%;
}
.first-child{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}
.second-child{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}
.image{
    display: grid;
    grid-template-columns: .4fr 2fr;
}
.image img{
    margin: 4px;
    border-radius: 50%;
} 
.pTag{
    margin-top: 1px;
}
p{
    margin: 5px;
}
.person{
    border-radius: 1rem;
}
